<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="medicalservices-service-provider"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20882"/>

    <!--<dubbo:monitor protocol="registry"/>-->

    <!-- 就诊卡操作 -->
    <dubbo:service interface="com.api.card.service.CardForPatService" ref="cardForPatService" timeout="10000"/>

    <!-- 挂号 -->
    <dubbo:service interface="com.api.registered.service.RegisteredService" ref="registeredService" timeout="10000"/>

    <!-- 门诊缴费 -->
    <dubbo:service interface="com.api.clinic.service.ClinicService" ref="clinicService" timeout="10000"/>

</beans>