<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.card.dao.CardMapper">
  <resultMap id="BaseResultMap" type="com.api.card.domain.Card">
    <id column="OUT_PLATFORM_ID" jdbcType="VARCHAR" property="out_platform_id" />
    <id column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <id column="AGENCY_NUM" jdbcType="VARCHAR" property="agency_num" />
    <id column="IDCARD_NO" jdbcType="VARCHAR" property="idcard_no" />
    <result column="PATID" jdbcType="VARCHAR" property="patid" />
    <result column="PAT_NAME" jdbcType="VARCHAR" property="pat_name" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CARDNO" jdbcType="VARCHAR" property="cardno" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="RELATIONSHIP" jdbcType="VARCHAR" property="relationship" />
    <result column="BIND_TIME" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="LAST_UPDATETIME" jdbcType="TIMESTAMP" property="lastUpdatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    OUT_PLATFORM_ID, CHANNEL, AGENCY_NUM, IDCARD_NO, PATID, PAT_NAME, MOBILE, ADDRESS, CARDNO, STATUS, TYPE,
    RELATIONSHIP, BIND_TIME, LAST_UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.api.card.domain.CardKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yw_card_manager
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
      and AGENCY_NUM = #{agency_num,jdbcType=VARCHAR}
      and IDCARD_NO = #{idcard_no,jdbcType=VARCHAR}
  </select>
  <select id="selectByAccount" parameterType="com.api.card.domain.CardKey"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yw_card_manager
    where 1=1
    <if test="out_platform_id != null">
      and OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
    </if>
    <if test="idcard_no != null">
      and IDCARD_NO = #{idcard_no,jdbcType=VARCHAR}
    </if>
    <if test="channel != null">
      and CHANNEL = #{channel,jdbcType=VARCHAR}
    </if>
    <if test="agency_num != null">
      and AGENCY_NUM = #{agency_num,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.api.card.domain.CardKey">
    delete from yw_card_manager
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
      and AGENCY_NUM = #{agency_num,jdbcType=VARCHAR}
      and IDCARD_NO = #{idcard_no,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.api.card.domain.Card">
    insert into yw_card_manager (OUT_PLATFORM_ID, CHANNEL, AGENCY_NUM,
      IDCARD_NO, PATID, PAT_NAME,
      MOBILE, ADDRESS, CARDNO,
      STATUS, TYPE, RELATIONSHIP, 
      BIND_TIME, LAST_UPDATETIME)
    values (#{out_platform_id,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{agency_num,jdbcType=VARCHAR},
      #{idcard_no,jdbcType=VARCHAR}, #{patid,jdbcType=VARCHAR}, #{pat_name,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.api.card.domain.Card">
    insert into yw_card_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="out_platform_id != null">
        OUT_PLATFORM_ID,
      </if>
      <if test="channel != null">
        CHANNEL,
      </if>
      <if test="agency_num != null">
        AGENCY_NUM,
      </if>
      <if test="idcard_no != null">
        IDCARD_NO,
      </if>
      <if test="patid != null">
        PATID,
      </if>
      <if test="pat_name != null">
        PAT_NAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="cardno != null">
        CARDNO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="relationship != null">
        RELATIONSHIP,
      </if>
      <if test="bindTime != null">
        BIND_TIME,
      </if>
      <if test="lastUpdatetime != null">
        LAST_UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="out_platform_id != null">
        #{out_platform_id,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="agency_num != null">
        #{agency_num,jdbcType=VARCHAR},
      </if>
      <if test="idcard_no != null">
        #{idcard_no,jdbcType=VARCHAR},
      </if>
      <if test="patid != null">
        #{patid,jdbcType=VARCHAR},
      </if>
      <if test="pat_name != null">
        #{pat_name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetime != null">
        #{lastUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.card.domain.Card">
    update yw_card_manager
    <set>
      <if test="patid != null">
        PATID = #{patid,jdbcType=VARCHAR},
      </if>
      <if test="pat_name != null">
        PAT_NAME = #{pat_name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        BIND_TIME = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetime != null">
        LAST_UPDATETIME = #{lastUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
      and AGENCY_NUM = #{agency_num,jdbcType=VARCHAR}
      and IDCARD_NO = #{idcard_no,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.card.domain.Card">
    update yw_card_manager
    set PATID = #{patid,jdbcType=VARCHAR},
      PAT_NAME = #{pat_name,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      BIND_TIME = #{bindTime,jdbcType=TIMESTAMP},
      LAST_UPDATETIME = #{lastUpdatetime,jdbcType=TIMESTAMP}
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
      and AGENCY_NUM = #{agency_num,jdbcType=VARCHAR}
      and IDCARD_NO = #{idcard_no,jdbcType=VARCHAR}
  </update>
</mapper>