<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.card.dao.CardMapper">
  <resultMap id="BaseResultMap" type="com.api.card.domain.Card">
    <id column="YAD901" jdbcType="VARCHAR" property="yad901" />
    <id column="YAD961" jdbcType="VARCHAR" property="yad961" />
    <id column="AKB020" jdbcType="VARCHAR" property="akb020" />
    <id column="AAC002" jdbcType="VARCHAR" property="aac002" />
    <result column="PATID" jdbcType="VARCHAR" property="patid" />
    <result column="AAC003" jdbcType="VARCHAR" property="aac003" />
    <result column="YAE098" jdbcType="VARCHAR" property="yae098" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CARDNO" jdbcType="VARCHAR" property="cardno" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="RELATIONSHIP" jdbcType="VARCHAR" property="relationship" />
    <result column="BIND_TIME" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="LAST_UPDATETIME" jdbcType="TIMESTAMP" property="lastUpdatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    YAD901, YAD961, AKB020, AAC002, PATID, AAC003, YAE098, ADDRESS, CARDNO, STATUS, TYPE, 
    RELATIONSHIP, BIND_TIME, LAST_UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.api.card.domain.CardKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yw_card_manager
    where YAD901 = #{yad901,jdbcType=VARCHAR}
      and YAD961 = #{yad961,jdbcType=VARCHAR}
      and AKB020 = #{akb020,jdbcType=VARCHAR}
      and AAC002 = #{aac002,jdbcType=VARCHAR}
  </select>
  <select id="selectByAccount" parameterType="com.api.card.domain.CardKey"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yw_card_manager
    where 1=1
    <if test="yad901 != null">
      and YAD901 = #{yad901,jdbcType=VARCHAR}
    </if>
    <if test="aac002 != null">
      and AAC002 = #{aac002,jdbcType=VARCHAR}
    </if>
    <if test="yad961 != null">
      and YAD961 = #{yad961,jdbcType=VARCHAR}
    </if>
    <if test="akb020 != null">
      and AKB020 = #{akb020,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.api.card.domain.CardKey">
    delete from yw_card_manager
    where YAD901 = #{yad901,jdbcType=VARCHAR}
      and YAD961 = #{yad961,jdbcType=VARCHAR}
      and AKB020 = #{akb020,jdbcType=VARCHAR}
      and AAC002 = #{aac002,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.api.card.domain.Card">
    insert into yw_card_manager (YAD901, YAD961, AKB020, 
      AAC002, PATID, AAC003, 
      YAE098, ADDRESS, CARDNO, 
      STATUS, TYPE, RELATIONSHIP, 
      BIND_TIME, LAST_UPDATETIME)
    values (#{yad901,jdbcType=VARCHAR}, #{yad961,jdbcType=VARCHAR}, #{akb020,jdbcType=VARCHAR}, 
      #{aac002,jdbcType=VARCHAR}, #{patid,jdbcType=VARCHAR}, #{aac003,jdbcType=VARCHAR}, 
      #{yae098,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.api.card.domain.Card">
    insert into yw_card_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yad901 != null">
        YAD901,
      </if>
      <if test="yad961 != null">
        YAD961,
      </if>
      <if test="akb020 != null">
        AKB020,
      </if>
      <if test="aac002 != null">
        AAC002,
      </if>
      <if test="patid != null">
        PATID,
      </if>
      <if test="aac003 != null">
        AAC003,
      </if>
      <if test="yae098 != null">
        YAE098,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="cardno != null">
        CARDNO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="relationship != null">
        RELATIONSHIP,
      </if>
      <if test="bindTime != null">
        BIND_TIME,
      </if>
      <if test="lastUpdatetime != null">
        LAST_UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yad901 != null">
        #{yad901,jdbcType=VARCHAR},
      </if>
      <if test="yad961 != null">
        #{yad961,jdbcType=VARCHAR},
      </if>
      <if test="akb020 != null">
        #{akb020,jdbcType=VARCHAR},
      </if>
      <if test="aac002 != null">
        #{aac002,jdbcType=VARCHAR},
      </if>
      <if test="patid != null">
        #{patid,jdbcType=VARCHAR},
      </if>
      <if test="aac003 != null">
        #{aac003,jdbcType=VARCHAR},
      </if>
      <if test="yae098 != null">
        #{yae098,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetime != null">
        #{lastUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.card.domain.Card">
    update yw_card_manager
    <set>
      <if test="patid != null">
        PATID = #{patid,jdbcType=VARCHAR},
      </if>
      <if test="aac003 != null">
        AAC003 = #{aac003,jdbcType=VARCHAR},
      </if>
      <if test="yae098 != null">
        YAE098 = #{yae098,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null">
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        BIND_TIME = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetime != null">
        LAST_UPDATETIME = #{lastUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where YAD901 = #{yad901,jdbcType=VARCHAR}
      and YAD961 = #{yad961,jdbcType=VARCHAR}
      and AKB020 = #{akb020,jdbcType=VARCHAR}
      and AAC002 = #{aac002,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.card.domain.Card">
    update yw_card_manager
    set PATID = #{patid,jdbcType=VARCHAR},
      AAC003 = #{aac003,jdbcType=VARCHAR},
      YAE098 = #{yae098,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      BIND_TIME = #{bindTime,jdbcType=TIMESTAMP},
      LAST_UPDATETIME = #{lastUpdatetime,jdbcType=TIMESTAMP}
    where YAD901 = #{yad901,jdbcType=VARCHAR}
      and YAD961 = #{yad961,jdbcType=VARCHAR}
      and AKB020 = #{akb020,jdbcType=VARCHAR}
      and AAC002 = #{aac002,jdbcType=VARCHAR}
  </update>
</mapper>