<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.account.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.api.account.domain.Account">
    <id column="OUT_PLATFORM_ID" jdbcType="VARCHAR" property="out_platform_id" />
    <id column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="DES" jdbcType="VARCHAR" property="des" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    OUT_PLATFORM_ID, CHANNEL, DES, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.api.account.domain.AccountKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yw_account
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.api.account.domain.AccountKey">
    delete from yw_account
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.api.account.domain.Account">
    insert into yw_account (OUT_PLATFORM_ID, CHANNEL, DES,
      CREATE_TIME, UPDATE_TIME)
    values (#{out_platform_id,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR},
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.api.account.domain.Account">
    insert into yw_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="out_platform_id != null">
        OUT_PLATFORM_ID,
      </if>
      <if test="channel != null">
        CHANNEL,
      </if>
      <if test="des != null">
        DES,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="out_platform_id != null">
        #{out_platform_id,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.account.domain.Account">
    update yw_account
    <set>
      <if test="des != null">
        DES = #{des,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.account.domain.Account">
    update yw_account
    set DES = #{des,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      and CHANNEL = #{channel,jdbcType=VARCHAR}
  </update>
</mapper>